<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body class="{{if .IsLoggedIn}}is-logged-in{{else}}is-logged-out{{end}}">
  <header>
      <h1>Web Forum</h1>
  </header>

  <div class="logged-in-content">
    <div class="nav-bar">
        {{if .IsLoggedIn}}
        <div class="welcome-message">
            <h2>Welcome, {{.LoggedInUser.Username}}!</h2>
        </div>
        {{end}}
        <table id="cont">
            <tr><button><a href="doLogout">Logout</a></button></tr>
            <br><br>
            <tr><button><a href="createP">Create Post</a></button></tr>
            <br><br>
            <form action="/main" method="get">
                <select name="catCont2" id="data2" class="search category-select">
                    <option value="" disabled selected>Choose Category...</option>
                    <option value="None">None</option>
                    <option value="Sports">Sports</option>
                    <option value="News">News</option>
                    <option value="Announcements">Announcements</option> 
                </select>
                <br><br>
                <button type="submit" class="standard-button">Apply filters</button>
                <br><br>
                <button type="submit" name="filter" value="myCreatedPosts" class="standard-button">My Created Posts</button><br><br>
                <button type="submit" name="filter" value="myLikedPosts" class="standard-button">My Liked Posts</button>
                <br><br>
                <button type="button" id="clearFilters" class="standard-button">Clear Filters</button>
                <br><br>
            </form>        
        </table>
    </div>
    <div class="container">
        <div class="post-container">
            {{range .Posts}}
            <div class="post">
                <h4>Post Content:</h4>
                <h3>{{.User.Username}}</h3>
                <p>Post: {{.Post.PostContent}}</p>
                {{if .Post.ImagePath}}
                <img src="/{{.Post.ImagePath}}" alt="Post Image" style="max-width: 100%;">
                {{end}}                
                <p>Category: {{ range $index, $category := .Categories }}{{ if $index }}, {{ end }}{{ $category.CatName }}{{ end }}</p>
                <small>Posted on: {{.Post.CreatedAt.Format "2006-01-02 15:04:05"}}</small>
                <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                <br>
                <button class="btn" id="green" data-count="{{.Post.LikeCount}}" data-id="{{.Post.PostID}}"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count" id="like-count-{{.Post.PostID}}">{{.Post.LikeCount}}</span></button>
                <button class="btn" id="red" data-count="{{.Post.DislikeCount}}" data-id="{{.Post.PostID}}"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count" id="dislike-count-{{.Post.PostID}}">{{.Post.DislikeCount}}</span></button>

                {{if $.IsLoggedIn}}
                <form action="/createC?postID={{.Post.PostID}}" method="post">
                    <textarea name="commentCont" placeholder="Comment Content..." required maxlength="500"></textarea>
                    <button type="submit">Add Comment</button>
                </form>
                {{end}}
                <button class="show-comments-btn">Show Comments</button>
                <div class="comments hidden">
                    {{if .Comments}}
                    {{range .Comments}}
                    <div class="comment">
                        <h4>Comment Content:</h4>
                        <p>Comment: {{.CommentContent}}</p>
                        <small>Commented by: {{.Username}} </small><br>
                        <small>Commented on: {{.CreatedAt.Format "2006-01-02 15:04:05"}}</small>
                        <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                        <br>
                        <button class="btn" id="green" data-count="0" data-id="{{.CommentID}}"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count" id="like-count-comment-{{.CommentID}}">{{.LikeCount}}</span></button>
                        <button class="btn" id="red" data-count="0" data-id="{{.CommentID}}"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count" id="dislike-count-comment-{{.CommentID}}">{{.DislikeCount}}</span></button>
                    </div>
                    {{end}}
                    {{else}}
                    <p>No comments yet.</p>
                    {{end}}
                </div>
            </div>
            {{else}}
            <p>No posts found yet.</p>
            {{end}}
        </div>
    </div>
  </div>

  <div class="logged-out-content">
    <div class="nav-bar">
        <div class="welcome-message">
            <h2>Login or Register</h2>
        </div>
        <table id="cont">
            <tr><button><a href="doLogin">Login</a></button></tr><br><br>
            <tr><button><a href="doRegister">Register</a></button></tr><br><br>
            <tr><button><a href="/">Create Post</a></button></tr><br><br>
            <form action="/main" method="get">
                <select name="catCont2" id="data2" class="search">
                    <option value="" disabled selected>Choose Category...</option>
                    <option value="None">None</option>
                    <option value="Sports">Sports</option>
                    <option value="News">News</option>
                    <option value="Announcements">Announcements</option> 
                </select>
                <br><br>
                <button type="submit" class="standard-button">Apply filters</button>
                <br><br>
                <button type="button" id="clearFilters2" class="standard-button">Clear Filters</button>
            </form>
            <br><br>
            <tr><button><a href="/">Back to Main Page</a></button></tr><br><br><br>
        </table>
    </div>
    <div class="container">
        <div class="post-container">
            {{range .Posts}}
            <div class="post">
                <h4>Post Content:</h4>
                <h3>{{.User.Username}}</h3>
                <p>Post: {{.Post.PostContent}}</p>
                {{if .Post.ImagePath}}
                <img src="/{{.Post.ImagePath}}" alt="Post Image" style="max-width: 100%;">
                {{end}}    
                <p>Category: {{ range $index, $category := .Categories }}{{ if $index }}, {{ end }}{{ $category.CatName }}{{ end }}</p>
                <small>Posted on: {{.Post.CreatedAt.Format "2006-01-02 15:04:05"}}</small>
                <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                <br>
                <button class="btn" id="green" disabled><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count">{{.Post.LikeCount}}</span></button>
                <button class="btn" id="red" disabled><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count">{{.Post.DislikeCount}}</span></button><br><br>
                <button type="submit"><a href="/">Add Comment</a></button>
                <button class="show-comments-btn2">Show Comments</button>
                <div class="comments hidden">
                    {{if .Comments}}
                    {{range .Comments}}
                    <div class="comment">
                        <h4>Comment Content:</h4>
                        <p>Comment: {{.CommentContent}}</p>
                        <small>Commented by: {{.Username}} </small><br>
                        <small>Commented on: {{.CreatedAt.Format "2006-01-02 15:04:05"}}</small>
                        <br>
                        <button class="btn" id="green" disabled><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i><span class="count">{{.LikeCount}}</span></button>
                        <button class="btn" id="red" disabled><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count">{{.DislikeCount}}</span></button>
                    </div>
                    {{end}}
                    {{else}}
                    <p>No comments yet.</p>
                    {{end}}
                </div>
            </div>
            {{else}}
            <p>No posts found yet.</p>
            {{end}}
        </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        var feedbackType = ''; // Track current feedback type: 'like' or 'dislike'
    
        document.querySelectorAll('.btn').forEach(button => {
            button.addEventListener('click', () => {
                var type = button.id === 'green' ? 'like' : 'dislike';
                handleFeedback(type, button);
            });
        });
    
        function handleFeedback(type, button) {
    var postId = button.getAttribute('data-id');
    var isPost = button.parentElement.classList.contains('post');
    var otherButtonId = type === 'like' ? 'red' : 'green';
    var otherButton = button.parentElement.querySelector(`#${otherButtonId}`);

    if (button.classList.contains('active')) {
        // Remove feedback
        button.classList.remove('active');
        updateCount(button, parseInt(button.getAttribute('data-count')) - 1);
        sendFeedback(`remove_${type}`, postId, isPost);
    } else {
        // Add feedback
        button.classList.add('active');
        updateCount(button, parseInt(button.getAttribute('data-count')) + 1);

        // Remove other feedback if exists
        if (otherButton.classList.contains('active')) {
            otherButton.classList.remove('active');
            updateCount(otherButton, parseInt(otherButton.getAttribute('data-count')) - 1);
        }

        sendFeedback(type, postId, isPost);
    }

    // Refresh the page after a short delay
    setTimeout(function() {
        location.reload();
    }, 100);
}
    
        function updateCount(button, count) {
            button.setAttribute('data-count', count);
            button.querySelector('.count').textContent = count;
            const id = button.getAttribute('data-id');
            const isPost = button.closest('.post') !== null;
            const type = button.id === 'green' ? 'like' : 'dislike';
            const elementId = `${type}-count-${isPost ? '' : 'comment-'}${id}`;
            const countElement = document.getElementById(elementId);
            if (countElement) {
                countElement.textContent = count;
        }
        }
    
        function sendFeedback(type, id, isPost) {
            var url = isPost ? '/like-post' : '/like-comment';
            if (type.includes('dislike')) {
                url = isPost ? '/dislike-post' : '/dislike-comment';
            }
    
            var data = new FormData();
            data.append(isPost ? 'postID' : 'commentID', id);
    
            fetch(url, {
                method: 'POST',
                body: data
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Handle successful response if needed
                return response.json();
            })
            .then(data => {
            if (data.success) {
                const button = document.querySelector(`[data-id="${id}"]#${type === 'like' ? 'green' : 'red'}`);
                updateCount(button, data.count);
            }
        })
            .catch(error => {
                console.error('Error:', error);
                window.location.reload();
            });
        }
    
        document.getElementById('clearFilters').addEventListener('click', function() {
            var currentUrl = window.location.href;
            var newUrl = currentUrl.split('?')[0];
            window.location.href = newUrl;
        });
    });

    document.getElementById('clearFilters2').addEventListener('click', function() {
        var currentUrl = window.location.href;
        var newUrl = currentUrl.split('?')[0];
        window.location.href = newUrl;
    });

    document.querySelectorAll('.show-comments-btn').forEach(button => {
              button.addEventListener('click', function() {
                  toggleComments(button);
              });
          });

    document.querySelectorAll('.show-comments-btn2').forEach(button => {
              button.addEventListener('click', function() {
                  toggleComments(button);
              });
          });

          function toggleComments(button) {
              const commentsContainer = button.nextElementSibling;
              if (commentsContainer.classList.contains('hidden')) {
                  commentsContainer.classList.remove('hidden');
                  button.textContent = 'Hide Comments';
              } else {
                  commentsContainer.classList.add('hidden');
                  button.textContent = 'Show Comments';
              }
          }
    </script>
</body>
</html>